 body {
  background: #ece5dd;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: Arial;
}

.chat-container {
  width: 100%;
  max-width: 420px;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

h2 {
  text-align: center;
  color: #075e54;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  background: #f7f7f7;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #ddd;
}

/* WhatsApp style bubble */
.message {
  max-width: 70%;
  padding: 8px 12px;
  margin: 8px 0;
  border-radius: 10px;
  animation: glow 1.3s infinite alternate;
}

/* my message */
.my-message {
  background: #dcf8c6;
  margin-left: auto;
  border-bottom-right-radius: 0;
}

/* other message */
.other-message {
  background: white;
  margin-right: auto;
  border-bottom-left-radius: 0;
}

/* glowing animation */
@keyframes glow {
  from { box-shadow: 0 0 8px rgba(0,255,0,0.3); }
  to   { box-shadow: 0 0 15px rgba(0,255,0,0.6); }
}

.input-area {
  display: flex;
  margin-top: 10px;
}

#messageInput {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #075e54;
  border-radius: 10px;
}

#sendBtn {
  margin-left: 5px;
  padding: 12px 16px;
  border: none;
  background: #25d366;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  }
