body {
  font-family: Arial, sans-serif;
  background: #ece5dd;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.chat-container {
  width: 100%;
  max-width: 400px;
  background: #fff;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
}

h2 {
  text-align: center;
  color: #075e54;
  margin-bottom: 10px;
}

.chat-box {
  height: 400px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  padding: 10px;
  background: #f7f7f7;
  border-radius: 10px;
}

.message {
  display: flex;
  align-items: center;
  max-width: 80%;
  padding: 6px 10px;
  margin: 5px 0;
  border-radius: 10px;
}

.my-message {
  background: #dcf8c6;
  margin-left: auto;
  border-bottom-right-radius: 0;
}

.other-message {
  background: #fff;
  margin-right: auto;
  border-bottom-left-radius: 0;
}

.profile-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 8px;
}

.input-area {
  display: flex;
  margin-top: 10px;
}

#messageInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #075e54;
  border-radius: 20px;
}

#sendBtn {
  margin-left: 5px;
  padding: 10px 15px;
  background: #25d366;
  border: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  }
