body {
  margin: 0;
  background: #0f172a;
  font-family: Arial, sans-serif;
  color: white;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.msg {
  background: #1e293b;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 8px;
}

.msg b {
  color: #38bdf8;
}

.input-box {
  display: flex;
  gap: 5px;
  padding: 8px;
  background: #020617;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.input-box button {
  padding: 10px 15px;
  border-radius: 50%;
  border: none;
  background: #38bdf8;
  font-weight: bold;
}
