body{
  margin:0;
  font-family: Arial;
  background:#0b141a;
  color:#fff;
}

.topbar{
  height:50px;
  background:#1f2c33;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 15px;
}

.title{font-size:18px;}
.menu{font-size:22px; cursor:pointer;}

.menu-box{
  display:none;
  position:absolute;
  top:50px;
  right:10px;
  background:#233138;
  border-radius:8px;
}
.menu-box div{
  padding:10px;
  border-bottom:1px solid #333;
}

.messages{
  height:calc(100vh - 100px);
  overflow-y:auto;
  padding:10px;
}

.msg{
  display:flex;
  margin:6px 0;
}
.msg.me{justify-content:flex-end;}
.bubble{
  max-width:70%;
  padding:8px;
  border-radius:10px;
  background:#202c33;
}
.me .bubble{background:#005c4b;}

.profile{
  width:32px;
  height:32px;
  border-radius:50%;
  margin-right:6px;
}

.input-box{
  display:flex;
  background:#1f2c33;
  padding:8px;
}
input{
  flex:1;
  border:none;
  padding:10px;
  border-radius:20px;
}
button{
  background:#00a884;
  border:none;
  color:#fff;
  padding:10px 15px;
  margin-left:6px;
  border-radius:50%;
  }
