body {
  margin: 0;
  font-family: Arial;
  background: #ece5dd;
}

.chat-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.msg {
  display: flex;
  margin-bottom: 10px;
  max-width: 80%;
}

.msg.me {
  margin-left: auto;
  flex-direction: row-reverse;
}

.msg img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 5px;
}

.msg span {
  background: white;
  padding: 8px 12px;
  border-radius: 10px;
}

.msg.me span {
  background: #dcf8c6;
}

.input-box {
  display: flex;
  padding: 8px;
  background: white;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

button {
  margin-left: 5px;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background: #25d366;
  color: white;
  }
