body{
  margin:0;
  font-family:Arial;
  background:#f0f2f5;
}

/* Cover */
.cover{
  height:200px;
  background:#ccc;
  position:relative;
}
.cover img{
  width:100%;
  height:100%;
  object-fit:cover;
}
.cover-btn{
  position:absolute;
  right:10px;
  bottom:10px;
  border:none;
  padding:6px;
  border-radius:50%;
}

/* Profile */
.profile-box{
  text-align:center;
  margin-top:-60px;
}
.avatar{
  width:120px;
  height:120px;
  margin:auto;
  clip-path: polygon(
    25% 6%, 75% 6%,
    100% 50%, 75% 94%,
    25% 94%, 0 50%
  );
  background:#fff;
  position:relative;
}
.avatar img{
  width:100%;
  height:100%;
  object-fit:cover;
}
.avatar span{
  position:absolute;
  bottom:5px;
  right:5px;
  background:white;
  padding:4px;
  border-radius:50%;
}

/* Buttons */
.btns{
  display:flex;
  justify-content:center;
  gap:8px;
}
.blue{
  background:#1877f2;
  color:white;
  border:none;
  padding:8px 14px;
  border-radius:6px;
}
.gray{
  background:#e4e6eb;
  border:none;
  padding:8px 12px;
  border-radius:6px;
}

/* Tabs */
.tabs{
  display:flex;
  justify-content:space-around;
  background:white;
  margin-top:10px;
}
.tabs span{
  padding:10px;
}
.active{
  border-bottom:3px solid #1877f2;
}

/* About */
.about{
  background:white;
  padding:15px;
  margin-top:8px;
}
