body{
  background:#0b0b14;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

/* Main wrapper */
.profile-wrapper{
  position:relative;
  width:150px;
  height:150px;
}

/* Outer white border */
.profile-ring{
  width:100%;
  height:100%;
  padding:6px;
  background:#ffffff;
  clip-path:polygon(
    30% 0%, 70% 0%,
    100% 30%, 100% 70%,
    70% 100%, 30% 100%,
    0% 70%, 0% 30%
  );
}

/* Inner red ring */
.profile-octagon{
  width:100%;
  height:100%;
  padding:5px;
  background:#ff4d4d; /* হালকা লাল */
  clip-path:inherit;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* Image */
.profile-octagon img{
  width:100%;
  height:100%;
  object-fit:cover;
  clip-path:inherit;
  background:#000;
}

/* Online status dot */
.online-dot{
  position:absolute;
  bottom:8px;
  right:8px;
  width:18px;
  height:18px;
  background:#00ffcc; /* অন্য কালার */
  border:3px solid #0b0b14;
  border-radius:50%;
  }
